@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #757575;
$secondary_color: #0071bc;
$background: #e2e2e0;
$border: #aeaeaf;

$max_width: 1100px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'News Gothic MT Regular';
	src: url(fonts/NWGTHC.ttf);
}

@font-face {
	font-family: 'News Gothic MT Bold';
	src: url(fonts/news-gothic-mt-bold.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'News Gothic MT Regular';
		size: 16px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'News Gothic MT Regular';
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 10px 0;
	background-color: $background;
	.moduletable_to11 {
		p {
			margin: 0;
			font-size: 10px;
		}
	}
}

.top {
	.moduletable_to1 {
		padding: 15px 0;
	}
	.moduletable_to2 {
		.woocommerce-product-search {
			input[type=search] {
				height: inherit;
				margin: 0;
				padding: 6px;
				background: {
					image: url(moduletable_to2_input_bg.png);
					position: left;
					repeat: no-repeat;
				}
				border: 1px solid $border;
				border-radius: 0;
				font-size: 12px;
				text-align: center;
			}
			[type=submit] {
				display: none;
			}
		}
	}
	.moduletable_to3 {
		p {
			margin: 0;
			a {
				margin: 0 10px;
				display: inline-block;
			}
		}
	}
}

.top_2 {
	margin-bottom: 10px;
	padding: 10px 0;
	background-color: $secondary_color;
	.moduletable_to22 {}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1.title {
		margin: 0;
		padding: 10px 0;
		background-color: $secondary_color;
		font-size: 18px;
		color: #fff;
	}
	b,
	strong {
		color: $secondary_color;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	.woocommerce {
		h1.page-title {
			margin-bottom: 30px;
			padding: 10px 0;
			background-color: $secondary_color;
			font-size: 18px;
			color: #fff;
			text-align: center;
		}
		ul.products {
			li.product {
				margin-bottom: 15px;
				border: 1px solid $border;
				a {
					text-align: center;
					img {
						width: auto;
						/*min-height: 240px;*/
						height: 240px;
						margin: auto;
						padding: 10px;
						display: block;
					}
					h2 {
						min-height: 110px;
						margin: 0;
						padding: 10px 20px !important;
						font-size: 16px;
						color: $primary_color;
						text-align: left;
					}
					span.price {
						margin: 0;
						padding: 0 20px 10px 20px;
						font-size: 16px;
						font-weight: bold;
						color: $secondary_color;
						text-align: left;
					}
				}
				a.button {
					margin: 0;
					display: block;
				}
			}
		}
		.product {
			.woocommerce-product-gallery {
				border: 1px solid $border;
			}
			h1.product_title {
				margin-bottom: 20px;
				font: {
					family: 'News Gothic MT Bold';
					size: 36px;
				}
				color: $secondary_color;
				text-align: right;
			}
			p.price {
				margin-bottom: 20px;
				font: {
					family: 'News Gothic MT Bold';
					size: 24px;
				}
				color: #a0a09f;
				text-align: right;
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	&.blog {
		.category_main {
			h2 {
				a {
					font: {
						family: 'News Gothic MT Bold';
						size: 18px;
					}
				}
			}
			a.hollow.button {
				background-color: transparent;
				border-color: $secondary_color;
				color: $secondary_color;
			}
		}
		.single_main {
			.single_thumbnail {
				margin-bottom: 30px;
			}
			.single_content {
				h1 {
					margin-bottom: 30px;
					padding: 10px 0;
					background-color: $secondary_color;
					font-size: 18px;
					color: #fff;
					text-align: center;
				}
			}
		}
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	.moduletable_b11 {
		h3 {
			margin-bottom: 30px;
			padding: 10px 0;
			background-color: $secondary_color;
			font-size: 18px;
			color: #fff;
		}
		.owl-item {
			figure {
				border: 1px solid $border;
				a.wpb_pro_img_url {
					min-height: 240px;
					padding: 10px;
					text-align: center;
				}
				figcaption {
					background: transparent;
					a.wpb-wps-product-title {
						h3.pro_title {
							min-height: 110px;
							margin: 0;
							padding: 10px 20px;
							background-color: transparent;
							font-size: 16px;
							color: $primary_color;
							text-align: left;
						}
					}
					.pro_price_area {
						margin: 0;
						padding: 0 20px 20px 20px;
						font-size: 16px;
						font-weight: bold;
						color: $secondary_color;
						text-align: left;
					}
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	position: relative;
	z-index: 1;
	.moduletable_b21 {
		iframe {
			border: 0;
		}
	}
}

.block_2_1 {
	/*margin-top: -356px;*/
	/*position: relative;*/
	/*z-index: 10;*/
	.moduletable_b211 {
		.box {
			height: 356px;
			padding: 20px 75px 0 75px;
			background-color: rgba(4, 73, 112, 0.9);
			h3 {
				margin-bottom: 20px;
				font-size: 18px;
				color: #fff;
			}
			.wpcf7-form {
				p {
					margin: 0;
				}
				[type=text],
				[type=email],
				textarea {
					height: inherit;
					margin: 0;
					border: 0;
					border-radius: 0;
					background-color: $background;
					font-size: 12px;
					color: $primary_color;
					&::placeholder {
						color: $primary_color;
					}
				}
				.button {
					margin: 0;
					margin-top: 10px;
					padding: 5px 30px;
					border-radius: 0;
					background-color: $background;
					font: {
						size: 14px;
						weight: bold;
					}
					color: $secondary_color;
					text-transform: uppercase;
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	.moduletable_b31 {
		h3 {
			margin: 0;
			font-size: 18px;
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background-color: $secondary_color;
	font-size: 14px;
	color: #fff;
	.moduletable_bo1 {
		#a {
			p {
				margin: 0;
			}
			border-right: 1px solid #fff;
		}
		#b {
			#b_a {
				border-bottom: 1px solid #fff;
				ul {
					list-style: none;
					li {
						a {
							color: #fff;
						}
					}
				}
			}
			#b_b {
				h3 {
					margin: 0;
					font-size: 16px;
				}
				.tnp-widget {
					.tnp-field-email {
						width: 70%;
						margin: 0;
						float: left;
						position: relative;
						label {
							display: none;
						}
						.tnp-email {
							margin: 0;
							border: 0;
							border-radius: 0;
							color: $primary_color;
							text-align: center;
							&::placeholder {
								color: $primary_color;
							}
						}
					}
					.tnp-field-button {
						width: 25%;
						margin: 0;
						float: right;
						position: relative;
						.tnp-submit {
							margin: 0;
							background-color: #fff;
							border: 0;
							border-radius: 0;
							font-weight: bold;
							color: $secondary_color;
						}
					}
				}
			}
		}
	}
}

/* Copyright */

.copyright {
	padding: 15px 0;
	background-color: $background;
	font-size: 14px;
	a {
		color: $primary_color;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top_1 {
		.moduletable_to11 {
			p {
				font-size: 8px;
			}
		}
	}

	.top {
		.moduletable_to1 {
			padding: 10px 0;
			text-align: center;
		}
		.moduletable_to2 {
			padding: 0 10px;
		}
		.moduletable_to3 {
			padding: 10px 0;
			p {
				text-align: center !important;
			}
		}
	}

	.top_2 {
		padding: 0;
	}

	/* Block 2 */

	.block_2_1 {
		margin-top: inherit;
		.moduletable_b211 {
			.box {
				height: inherit;
				padding: 20px 10px;
			}
		}
	}

	/* Bottom */

	.bottom {
		.moduletable_bo1 {
			#a {
				border-right: 0;
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {

	/* Top */

	.top_2 {
		.moduletable_to22 {
			.mega-menu-wrap {
				ul.mega-menu {
					li {
						&.mega-menu-item-69 {
							width: 260px !important;
							height: 20px !important;
							a {
								height: 40px !important;
								margin-top: -10px !important;
								padding: {
									top: 10px !important;
									bottom: 10px !important;
								}
								background-color: #044970 !important;
								text-align: left !important;
							}
						}
						ul.mega-sub-menu {
							li {
								a {
									height: inherit !important;
									margin-top: inherit !important;
									padding: {
										top: inherit !important;
										bottom: inherit !important;
									}
									background: {
										color: inherit !important;
										image: url(moduletable_to22_a_bg.png) !important;
										position: left !important;
										repeat: no-repeat !important;
									}
									text-align: inherit !important;
								}
								ul.mega-sub-menu {
									padding: 10px !important;
									background-color: #fff !important;
									border: 1px solid $border !important;
									li {
										border: 0 !important;
										a {
											background: none !important;
											color: $primary_color !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}